<h1>Main#index</h1>
<a href="#/">Home</a>
<a href="#/users">Users</a>
<a href="#/test">test</a>
<p>Find me in app/views/main/index.html.erb</p>
<p>This will be used for all angular views</p>
Här ska det stå 3 st H: H{{"H"}}H. Om endast tre, så är något fel
<div ng-view>
</div>

