// //If condition is correct insert tamplet.
// angular.module('commentModule').directive('ngCondition', function () {
// 	return {
// 		restrict: 'E',
// 		scope: true,
// 		template: '<span class="pull-right glyphicon glyphicon-remove" tooltip="Remove comment" tooltip-placement="left" tooltip-popup-delay="100"></span>',
// 		controller: 'CommentController',
// 		link: function(scope, elem, attrs, ctrl) {
			
// 		},
// 		replace: true
// 	}
// });