//If condition is correct insert tamplet.
angular.module('homeflix').directive('ngMattias', function () {
	return {
		restrict: 'AE',
		scope: true,
		template: '<div ng-bind-html="kbk(item.content)"></div>',
		controller: 'NewsController',
		link: function(scope, elem, attrs, ctrl) {
			
		},
		replace: true
	}
});