<div class="comment" ng-controller="CommentController">
	<h2>Comments</h2>
	<button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed">Leave a comment</button>
	<hr>
	<div collapse="isCollapsed">
		<form role="form" ng-submit="comment()">
			<div class="form-group">
				<label for="exampleInputEmail1">Leave a comment</label>
				<textarea ng-keyup="submit($event)" ng-model="content" class="form-control" rows="5"></textarea>
				<br>
				<input type="submit" class="btn btn-primary" value="Comment">
			</div>
		</form>
	</div>
	<hr>
	<ul class="comment-feed">
		<li ng-repeat="comment in comments | orderBy:'created_at':true | limitTo: limit">
			<div class="panel panel-default">
			  	<div class="panel-heading">
			  		<span class="pull-right comment-remove glyphicon glyphicon-remove" ng-if="comment.user_id == current_user" tooltip="Remove comment" tooltip-placement="left" tooltip-popup-delay="100"></span>
			  		<strong>{{comment.name}}</strong> - <small>{{formatTime(comment.created_at)}}</small>
			  	</div>
			  	<div class="panel-body">
			  		{{comment.content}}
			  	</div>
			</div>
		</li>
	</ul>
	
</div>