<div class="container">
	<h1>Favorits</h1>
	<div class="favorit-container" ng-repeat="movie in favorits">
		<hr class="favorit-hr">
		
		<a href="#/movies/{{movie.imdbID}}" class="poster poster-small pull-left margin-10">
			<div class="poster-overlay"></div>
			<img ng-src="{{movie.Poster}}">
		</a>
		<div class="favorit-head">
			<h4 class="pull-left"><a href="#/movies/{{movie.imdbID}}">{{movie.Title}}</a></h4>
			<span class="favorit-remove pull-right glyphicon glyphicon-remove" ng-click="removeFavorit(movie.imdbID, $index)" tooltip="Remove favorit" tooltip-placement="left" tooltip-popup-delay="100"></span>
		</div>	
		<h5>{{movie.Genre}} - {{movie.Runtime}}</h5>
		<p>{{movie.Plot}}</p>
	</div>
</div>