<carousel interval="sliderInterval">
    <slide ng-repeat="movie in movies | orderBy: 'order' : true | limitTo: 3 " active="slide.active">
       	<div class="carousel-content">
            <a href="#/movies/{{movie.imdb_id}}" class="poster poster-carousel shadow">
                <div class="poster-overlay"></div>
                <img ng-src="{{movie.Poster}}">
            </a>                
            <h2>{{movie.Title}}</h2>
            <p><strong>{{movie.Released}}</strong></p>
            <p>{{movie.Plot}}</p>
            <a href="#/movies/{{movie.imdb_id}}" class="carousel-btn btn btn-primary btn-lg">Read more</a>
        </div>
    </slide>    
</carousel>
<div class="container">
    <my-reasent></my-reasent>
</div>