<div class="container">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<a href="#/player/{{movie.imdb_id}}" class="poster poster-large pull-left shadow">
				<!-- <div class="ttt"></div> -->
				<div class="poster-overlay poster-play"></div>
		  		<img ng-src="{{movie.Poster}}">
			</a>
		</div>
		<!-- Description content -->
		<div class="col-md-8 col-sm-6 col-xs-12">
			<h1>{{movie.Title}}</h1>
			<h4>{{movie.Genre}} - {{movie.Runtime}}</h4>

			<p>
				{{movie.Year}} | {{movie.Rated}} |
				IMDB <rating class="rating-stars" ng-model="rate" readonly="true" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
			</p>

			<p>{{movie.Plot}}</p>
			<p><strong>Director:</strong> {{movie.Director}}</p>
			<p><strong>Writer:</strong> {{movie.Writer}}</p>
			<p><strong>Actors:</strong> {{movie.Actors}}</p>
			<form ng-controller="FavoritController" ng-submit="updateFavorits()">
				<button class="btn" ng-class="{'btn-success': !is_favorit, 'btn-danger': is_favorit}">{{favorit_text}}</button>
			</form>
			<hr>
			<div class="rating-box" ng-include="'<%= asset_path("rating.html")%>'"></div>
			<hr>
		</div>
	</div>


	<div ng-include="'<%= asset_path("comment.html")%>'"></div>
</div>