<div class="container movie-list-container">
	
	<!-- <top-movies></top-movies> -->
	<div ng-repeat="genre in genres | filter: query | orderBy: 'name'">
		<div ng-if="genre.data.length != 0" class="row">
			<hr>
			<h1 class="text-center">{{genre.name | uppercase}}</h1>
			<hr>
			<div class="col-md-2 col-sm-3 col-xs-6 col-lg-2" ng-repeat="movie in genre.data | orderBy:'Title':false">
				<a href="#/movies/{{movie.imdb_id}}" tooltip="{{movie.Title}}" tooltip-popup-delay='0' tooltip-animation="false" tooltip-placement="top" class="poster poster-small shadow">
					<div class="poster-overlay"></div>
					<img ng-src="{{movie.Poster}}">
				</a>
			</div>
		</div>
	</div>
</div>
<div class="movie-footer text-center">
	<div class="container">
	<a class="btn btn-success" ng-class="{'active': query.name == ''}" ng-click="filterGenre('')">
		All genres
	</a>
	<a class="btn" ng-class="{'btn-primary': genre.name == query.name}" ng-repeat="genre in genres" ng-click="filterGenre(genre.name)">
		{{genre.name}}
	</a>
	</div>
</div>