// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$poster-height-small: 200px;
$poster-width-small: $poster-height-small * 0.66; 

$poster-height-large: 500px;
$poster-width-large: $poster-height-large * 0.66; 

.poster {
	position: relative;
	overflow: hidden;

	img {
		width: auto;
		height: 100%;	
	}
}

.poster-small {
	width: $poster-width-small;
	height: $poster-height-small;
	margin: 10px;
}

.poster-large {
	width: $poster-width-large;
	height: $poster-height-large;
}

.poster-overlay {
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0,.0);

	&:hover {
		background: rgba(0,0,0,.3);
		&::after {
			color:white;
		}		
	}	
}

.poster-play {
	&:after {
		content: "\e001";
		font-family: VideoJS;
		
		text-align: center /* Needed for IE8 */;
		left: 50%;
		top: 50%;
		margin-left: -2em;
		margin-top: -3.5em;
		font-size: 6em;
		line-height: 7em;
		display: block;
		width: 4em;
		z-index: 2;
		position: absolute;
		color: rgba(255,255,255,.4);
	}
	&:hover {
	
		&::after {
			color:white;
		}		
	}
}